<div class="well">
  <h4>{{selectedTodo.content}}</h4>
  
  <button class="btn-sm btn-primary" (click)="setStartTime()" *ngIf="selectedTodo.started === undefined">Start Time
  </button>
  <button class="btn-sm btn-danger" (click)="setStopTime()" *ngIf="selectedTodo.started !== undefined">Stop Time
  </button>
  
  <div class="todo-times">
    <p class="todo_time" *ngIf="selectedTodo.started !== undefined">Started at: {{selectedTodo.started}}.</p>
    <p class="todo_time" *ngIf="selectedTodo.stopped !== undefined">Stopped at: {{selectedTodo.stopped}}.</p>
  </div>
</div>
