.todo_list {
  width: 425px;
  max-width: 100%;
  background: #fff;
  float: right;
  border-radius: 2px;
  box-shadow: 0 1px 5px #ccc;
}

.todo_list > input {
  width: 100%;
  max-width: 100%;
  border: none;
  padding: 20px 30px 15px;
  outline: none;
  font-weight: bold;
  font-size: 1.4em;
  font-family: 'Roboto Condensed', arial, sans-serif
}

.todo {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}

.todo > textarea {
  width: 75%;
  padding: 0 15px 0 7px; /* Because the icon width has to be taken into account */
  border: none;
  outline: none;
  resize: none;
  font-size: 1.2em;
  font-family: 'Roboto Slab', 'Times New Roman', serif;
  /*height: 25px;*/
  overflow: hidden;
}

.todo > .todo_icon {
  padding: 6px 0 0 12px;
  font-size: 0.8em;
  float: left;
}

.todo > .todo_time_span {
  position: absolute;
  font-size: 10px;

}
